html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
  background-color: rgb(236, 248, 255);
}


h1 { 
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(239,248,254);
  color: rgb(131,149,66);
}

h2 {
  color: rgb(116,132,191);
}

footer {
  position:relative;
  bottom: 1.5%;
  color: black;
}

p {
  font-family: "arial", monospace;
  color: black;
}


a {
  color: black;
}

  li {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 15px;
    font-size: 1rem;
  }
  


  
