html {
	font-size: 18px;
  }

 @media only screen and (max-width: 1000px) {
	html {
	  font-size: 16px;
	}
  }

body {
	background-color: rgb(254, 231, 218);
	color: #4a4a4a;
	font-family: "Work Sans", serif;
}

/* Journal */
.journal {
	display: flex;
	justify-content: space-around;
	padding-bottom: 4rem;
	background-color: rgb(254, 231, 218);
	color: #4a4a4a;
	font-family: "Work Sans", serif;
  }

.col {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.photo {
	width: 70%;
	margin-bottom: 12px;
	padding: 1.11rem;
	border-radius: 5px;
	background-color: white;
	font-family: "Merriweather", serif;
  }
  
  .photo .image-container img {
	width: 100%;
  }
  
  .photo .caption {
	font-style: italic;
  }

  /* Footer */

footer {
	display: flex;
	align-items: center;
	padding: 0 1%;
	background-color: #212121;
	font-family: "Croissant One", "Merriweather", serif;
  }
  
  
  footer .content {
	flex-grow: 1;
	font-style: italic;
	color: #9b9b9b;
	line-height: 1.5;
  }
  
  footer p:last-child {
	padding-bottom: 0;
  }
  
  footer em {
	color: #cfcfcf;
  }

  a img {
	  position: relative;
	  margin-right: 0%;
  }

  
  @media only screen and (max-width: 750px) {
	footer {
	  flex-direction: column;
	  padding: 0 10% 2rem 10%;
	}
	.journal {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	  }
  }