html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'M PLUS Rounded 1c', "arial", sans-serif;
  text-align: center;
  font-size: 4rem;
  color: rgb(130, 128, 236);
}

h2 {
  font-family: "Helvetica", sans-serif;
}


p {
  font-family: "arial", monospace;
  font-style: italic;
}

footer {
  position:relative;
  border-bottom: 1.5%;
}

  .box {
    display: flex;
    justify-content: space-between;
  }

  .container {
    margin-top: 5%;
    margin-bottom:5%;
    width: 75%;
    border: 2px solid lightseagreen;
    border-radius: 20px;
  }

    html #pic {
      max-width: 100%;
      height: auto;
      display: block;
    }

