footer {
  position:relative;
  bottom: 1.5%;
}

.box {
  display: flex;
  justify-content: space-between;
}

h1, 
h2 {
  font-family: "Helvetica", sans-serif;
}

p {
  font-family: "arial", monospace;
  font-style: italic;
  font-weight: 700;
}


h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(130, 128, 236);
}

#pic {

}

