html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: black;
}

body {
  background-image: linear-gradient(#06224d80, #e4aae480);
}

h1 {
  font-family: 'M PLUS Rounded 1c', "arial", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: rgb(147, 145, 250);
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.75em;
  color: hsl(339, 91%, 87%);
}


p {
  font-family: "arial", monospace;
  font-style: italic;
  font-size: 1rem;
  color: azure;
}

footer {
  position:relative;
  border-bottom: 1.5%;
  color: azure;
}

a {
  color: rgb(227, 247, 174);
}

  .box {
    display: flex;
    justify-content: space-between;
  }

  .container {
    margin-top: 5%;
    margin-bottom:5%;
    width: 75%;
    border: 2px solid hsl(177, 72%, 63%);
    border-radius: 20px;
  }

    html #pic {
      max-width: 100%;
      height: auto;
      display: block;
    }

