@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
    text-align: left;
  }

}


html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: black;
    font-size: 16px;
    border: 2mm ridge hsl(32, 86%, 52%);
    border-radius: 5mm;
    border-style: double none;
    margin: 1rem;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
  color: rgb(102, 231, 235);
  text-align: center;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  color: azure;
  margin-top: 0;
  padding-bottom: 2rem;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  color: azure;
}

p {
  font-family: "arial", monospace;
  font-size: 1rem;
  color: azure;
  line-height: 1.8;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
}


footer {
    position:relative;
    border-bottom: 1.5%;
    color: azure;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
  
  li {
    background-color: rgb(250, 210, 239);;
    padding: 0.75rem;
  }


