html {
    border: 4mm ridge rgb(162, 100, 166);
    border-radius: 5mm;
    border-style: dashed double none;
    margin: 20px;
}

footer {
    position:relative;
    bottom: 1.5%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  li {
    padding: 15px;
  }

  .main {
    text-align: center;
  }
    
    h1, 
    h2,
    h3  {
      font-family: "Helvetica", sans-serif;
    }
    
    
    h1 {
      text-align: center;
      font-size: 60px;
      color: rgb(78, 125, 55);
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 28px;
    }

    p {
      font-family: "arial", monospace;
      font-size: 20px;
      line-height: 1.6;
      text-align: left;
      padding-left: 140px;
      padding-right: 140px;
    }

    
    
