@media screen and (max-width: 480px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }

}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    border: 4mm ridge rgb(162, 100, 166);
    border-radius: 5mm;
    border-style: dashed double none;
    margin: 1.25rem;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
  color: rgb(78, 125, 55);
  text-align: center;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 0;
  padding-bottom: 2rem;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

p {
  font-family: "arial", monospace;
  font-size: 1rem;
  line-height: 1.8;
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
}


footer {
    position:relative;
    border-bottom: 1.5%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  li {
    padding: 1rem;
  }


